// レイアウト幅
$layout-width-inner: 1000px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab":
    "screen and (max-width: #{$layout-width-inner - 1px}) and (min-width: 768px)",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  width: 100%;
  a {
    text-decoration: none;
    color: black;
  }
  .hv:hover {
    opacity: 0.8;
    transform: scale(1.03, 1.03);
    transition: all 0.3s;
  }
  .hv-l:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
  }
  .op:hover {
    opacity: 0.8;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 0.8);
  &_title {
    font-size: 30px;
    letter-spacing: 8px;
  }
  &_menu {
    ul {
      list-style: none;
      display: flex;
      .header_menu_item {
        font-size: 16px;
        margin: 0 30px;
        font-weight: 300;
      }
    }
  }
  &_serch {
    margin-top: 14px;
  }
}

@include mq("sp") {
  .header {
    &_menu {
      ul {
        display: inline-block;
        display: none;
      }
    }
  }
}

main {
  //　トップ背景画像
  .topImg {
    height: 70vh;
  }
  .topImg:before {
    width: 100%;
    height: 100vh;
    background-image: url("../img/top.jpg");

    display: inline-block;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
  }
  // @include mq("sp") {
  //   .topImg {
  //     width: 0;
  //     height: 0;
  //   }
  //   .topImg::before {
  //     width: 100%;
  //     height: 35vw;
  //     background-image: url("../img/top_sp.jpg");
  //     background-repeat: no-repeat;
  //     background-attachment: fixed;
  //     background-position: center;
  //     background-size: cover;
  //   }
  // }
  @include mq("tab") {
    .topImg {
      height: 80vh;
      width: 100%;
    }
  }

  // ABOUT　ME
  .about {
    position: relative;
    padding: 80px 0;
    a {
      img {
        width: 600px;
        margin: 0 auto;
        transition: all 0.3s;
      }
      img:hover {
        transform: scale(1.05, 1.05);
        opacity: 0.8;
      }
    }
    &_text {
      position: absolute;
      top: 160px;
      left: 55vw;
      letter-spacing: 3px;
      font-weight: 100;
    }
  }
  @include mq("sp") {
    .about {
      padding: 40px 0;
      &_text {
        font-size: 4vw;
        top: 125px;
      }
      a {
        img:hover {
          transform: scale(0.9, 0.9);
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .about_text {
      top: 45%;
    }
  }

  //　新着情報，人気記事
  .news,
  .popular {
    background-color: #fff;
    padding: 80px 30px;
    &_title {
      text-align: center;
      margin-bottom: 80px;
      &_ja {
        font-size: 24px;
        letter-spacing: 4px;
      }
      &_en {
        font-size: 13px;
        letter-spacing: 4px;
      }
    }
    &_list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 950px;
      margin: 0 auto;
      .item {
        position: relative;
        width: 300px;
        margin-bottom: 30px;
        img {
          width: 300px;
          height: 180px;
          object-fit: cover;
        }
        &_genre {
          position: absolute;
          font-size: 12px;
          top: -8px;
          background-color: #f3f3f3;
          padding: 2px 15px;
          right: 15px;
          font-weight: 500;
        }
        &_day {
          font-size: 11px;
          margin: 5px 0;
          letter-spacing: 2px;
          color: #b4b4b4;
        }
        &_title {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .p {
      display: block;
      text-align: center;
      border-top: 2px solid;
      border-bottom: 2px solid;
      width: 200px;
      margin: 60px auto 30px auto;
      padding: 8px 0 10px 5px;
      letter-spacing: 5px;
    }
  }

  @include mq("sp") {
    .news,
    .popular {
      padding: 30px 20px;
      &_title {
        margin-bottom: 40px;
      }
      &_list {
        display: inline-block;
        width: 100%;
        .item {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 40px;
          img {
            width: 100%;
          }
        }
      }
      .p {
        margin: 30px auto 30px auto;
      }
    }
  }
  @include mq("tab") {
    .news,
    .populer {
      &_list {
        width: 100%;
        .item {
          width: 30%;
          a {
            img {
              height: 17vw;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  //人気記事　追加
  .popular {
    margin-top: 50px;
  }

  //カテゴリー一覧
  .category {
    background-color: #fff;
    padding: 80px 0;
    margin-top: 50px;
    &_title {
      text-align: center;
      margin-bottom: 80px;
      &_ja {
        font-size: 24px;
        letter-spacing: 4px;
      }
      &_en {
        font-size: 13px;
        letter-spacing: 4px;
      }
    }
    &_list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1000px;
      margin: 0 auto;
      padding: 0 20px;
      .item {
        position: relative;
        margin-bottom: 50px;
        background: #000;
        &_img {
          width: 470px;
          opacity: 0.9;
        }
        &_genre {
          position: absolute;
          letter-spacing: 4px;
          text-align: center;
          color: #fff;
          top: 45%;
          left: 0;
          right: 0;
          margin: auto;
          font-weight: 500;
          &_ja {
            font-size: 22px;
          }
          &_en {
            font-size: 12px;
          }
        }
      }
    }
  }

  @include mq("sp") {
    .category {
      padding: 30px 20px;
      &_title {
        margin-bottom: 40px;
      }
      &_list {
        display: inline-block;
        width: 100%;
        .item {
          &_img {
            width: 100%;
          }
          &_genre {
            top: 16vw;
          }
        }
      }
    }
  }
  @include mq("tab") {
    .category {
      &_list {
        width: 100%;
        .item {
          width: 48%;
          &_img {
            width: 100%;
          }
        }
      }
    }
  }
}

.footer {
  background-color: black;
  color: #fff;
  padding: 50px 90px 20px 90px;
  &_title {
    text-align: center;
    font-size: 30px;
  }
  &_menu {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 30px 100px;
      li {
        font-size: 14px;
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: #f3f3f3;
    text-align: center;
  }
}

@include mq("sp") {
  .footer {
    &_title {
      margin-bottom: 30px;
    }
    &_menu {
      ul {
        text-align: center;
        display: inline;
        li {
          margin-bottom: 20px;
        }
      }
    }
    .copyright {
      margin-top: 20px;
    }
  }
}

/*wp-pagenavi base*/
.wp-pagenavi {
  clear: both;
  text-align: center;
  margin-bottom: 100px;
}
.wp-pagenavi a,
.wp-pagenavi span {
  color: #999;
  background-color: #fff;
  border: solid 1px #e0e0d2;
  padding: 8px 15px;
  margin: 0 2px;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
}
.wp-pagenavi a:hover {
  color: #fff;
  background-color: #999;
  border-color: #999;
}
.wp-pagenavi span.current {
  color: #fff;
  background-color: black;
  border-color: black;
  font-weight: bold;
}
