// レイアウト幅
$layout-width-inner: 1000px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.pageList {
  background-color: #fff;
  padding: 80px 30px;
  &_title {
    text-align: center;
    margin-bottom: 80px;
    &_ja {
      font-size: 24px;
      letter-spacing: 4px;
    }
    &_en {
      font-size: 13px;
      letter-spacing: 4px;
    }
  }
  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 950px;
    margin: 0 auto;
    .item {
      position: relative;
      width: 300px;
      &_img {
        width: 300px;
      }
      &_genre {
        position: absolute;
        font-size: 12px;
        top: -8px;
        background-color: #f3f3f3;
        padding: 2px 15px;
        right: 15px;
        font-weight: 500;
      }
      &_day {
        font-size: 11px;
        margin: 5px 0;
        letter-spacing: 2px;
        color: #b4b4b4;
      }
      &_title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 35px;
      }
    }
  }
  .p {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 200px;
    margin: 60px auto 30px auto;
    padding: 8px 0 10px 5px;
    letter-spacing: 5px;
  }
}

@include mq("sp") {
  .pageList {
    &_list {
      display: inline-block;
      width: 100%;
      .item {
        width: 100%;
        margin-bottom: 40px;
        &_img {
          width: 100% !important;
        }
      }
    }
  }
}
